:root {
    --lightgray: #f0eaea;
    --darkgray: #918a8a;
    --lightblack: #444040;
    --red: #f32c2c;
    --purple: #9c219c;
    --screen: #97e5df;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
}

.container {
    width: 600px;
    height: 600px;
    margin: 100px auto;
}

.calc__app {
    height: 100%;
    width: 100%;
    border: 2px var(--darkgray) solid;
    background: var(--lightgray);
    border-radius: 5%;
}

/*Top Screen*/

.calc__screen {
    display: grid;
    height: 20%;
    margin: 1rem;
    grid-template-rows: 1fr 2fr;
    justify-items: right;
    grid-gap: 5px;
    border: 20px solid var(--darkgray);
    background: var(--screen);
}

.calc__display1 {
    font-size: 40px;
}

.calc__display2 {
    font-size: 20px;
}

/*Number Pad*/

.calc__pad {
    display: grid;
    height: 70%;
    margin: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
}

button {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    outline: none;
    border: 1px solid var(--darkgray);
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
    font-size: 60px;
}

.clear {
    grid-column: span 2;
}

.equals {
    grid-column: span 2;
}

.two, .eight, .four, .five, .six {
    background: var(--lightblack);
    border-radius: 5%;
}

.dot, .equals {
    background: var(--darkgray);
}

.three, .divide {
    background: var(--red);
    border-radius: 30%;
}

.nine, .subtract {
    background: var(--purple);
    border-radius: 30%;
}

.two, .eight, .four, .five, .six, .dot, .equals, .three, .divide, .nine, .subtract {
    color: white;
}