@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply cursor-pointer text-2xl hover:opacity-70 hover:text-4xl outline-none border border-cs-darkgray rounded-md font-cs-sans;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
